@* ﻿<div id="loader" style="display:none;">
    <img src="~/images/loaderimage.gif" />
</div> *@
<h1>Employee Details</h1>
<div>
    <h4>Name: <label id="employeeName"></label>  </h4>
    <h4>Designation: <label id="employeeDesignation"></label> </h4>
    <h4>Date of Birth: <label id="employeeDOB"></label> </h4>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/employeedetail.js"></script>